[Desktop Entry]
Version=1.0
Name=DD-ISO
Comment=A simple GUI frontend to dd to write ISO disc images to USB drives.
Categories=Application;System;
Exec=/usr/bin/dd-iso
Terminal=false
Type=Application
Name[en_US]=Dd-iso
Name[bg]=Dd-iso
GenericName[en_US]=Dd-iso
GenericName[bg]=Dd-iso
Comment[en_US]=A simple GUI frontend to dd to write ISO disc images to USB drives.
Comment[bg]=Прост GUI интерфейс за dd, който записва ISO дискови изображения на USB устройства.
Icon=gnome-dev-removable-usb
